* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding: 50px;
  text-align: center;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;

}

.options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.options > * {
  margin: 10px;
}

.container-grid {
  width: 500px;
  height: 500px;

  border: solid 1px grey;
}

.cell--border-on {
  border: solid 1px rgb(122, 153, 255);
}